* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

/* Menu screen */
.menu {
  position: fixed;
  background: #fff;
  display: none;
}

.displayFullScreen {
  height: 100vh;
  width: 100vw;
  display: block;
}


/* Menu button */
.menu-button {
  position: absolute;
  top: 4vh;
  left: 4vh;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:hover > div {
  background-color: #999;
  cursor: pointer;
}

.menu-button div {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  border-radius: 5px;
}


/* Time and date */
.main {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#time {
  font-size: 5rem;
}

#date{
  font-size: 2rem;
}
